<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title></title>
  <meta charset = "UTF-8" />
</head>
<body>
  <center>
  <h1>Makers B&B</h1>
  <p>
    <a href="/log_in"> log in</a>
  </p>
  </center>
</body>
</html>
