<!DOCTYPE html>
<html>
<title>MakersB&B</title>
<center>
  <h1> Makers B&B </h1>
  <div>
    <h3> Get the best places at the best rates here today! </h3>
  </div>
<body>
  <%= yield %>
</body>
</center>
</html>
