<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title></title>
  <meta charset = "UTF-8" />
</head>
<body>
  <center>
  <h1>Makers BNB</h1>
  <h3>Profile</h3>
  <p>
    Welcome <%= @email %>
  </p>
  </center>
</body>
</html>
