<div>
  <h1> <%= @name %>  </h1>
</div><br>
<div>
  <h1> <%= @description %> </h1>
</div>
<div>
  <h2> £<%=@price%> per night </h2>

<form action='/request' method='get'>
  <input type='submit' value='Book now'>
  </form>
