<h1> This is a property </h1>
<div>
<img src="https://scentofagamer.files.wordpress.com/2015/06/forest_avacynrestored_eytanzana.jpg">
<br>
<h1> You want to book this, don't you, Onkar? </h1>
<br>
<br>
<form action="/properties/:id" method="get">
  <input type='submit' value='More Information?'>
  </form>
<br>
</div>
