
<%@spaces.each do |space|%>
  <h2> Property Name: </h2>
  <h3> <%=space.name%>  </h3>
  <%= space.description %>
  <br>
  <br>
  Price:
  <h4> £<%=space.rate%> per night </h4>
  <form action="/properties/<%=space.id%>" method="post">
    <input type='submit' value='More Information?'>
  </form>
  <br>
<%end%>
